.jumbotron {
  background-color: #16e7cb;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  margin-top: 50px;
}

.btn {
  background-color: #16e7cb;
  color: white;
  border: none;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 200px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.tab-content {
  padding-right: 10px;
}

.footer {
  background-color: #16e7cb;
  color: white;
  padding: 1rem 0;
  text-align: center;
  margin-top: 10px;
}

.footer-address-icon {
  padding-right: 10px;
}